body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #FF9A8B, #FFD868);
    animation: backgroundAnimation 10s infinite alternate-reverse;
}

.container {
    text-align: center;
    animation: fadeIn 1.5s ease-out, bounceIn 1.5s ease-out;
}

button {
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button.si {
    background-color: #FF63A5;
    animation: heartbeat 1.5s infinite alternate-reverse, flash 1s; /* Animaciones del botón "Sí" */
}

button:hover:not(.si) {
    background-color: #FF1E58;
}

#respuesta {
    font-size: 24px;
    font-weight: bold;
    color: #42A5F5;
    margin-top: 20px;
    animation: bounceIn 1s;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de respuesta */
@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-8px);
    }
}

/* Animación de pulsación */
@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Animación de destello para el botón "Sí" */
@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.5;
    }
}

/* Animación de fondo */
@keyframes backgroundAnimation {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
